name: Build Packages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          alien \
          build-essential \
          debhelper \
          meson \
          ninja-build \
          pkg-config \
          libdrm-dev \
          libfreetype6-dev \
          libevdev-dev \
          git \
          curl

    - name: Build Packages
      run: ./build.sh
